@import url(https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans|Raleway|Roboto|Space+Mono|Inconsolata);
.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
  font-family: "Inconsolata", monospace !important; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden !important; }

.header {
  font-family: "Raleway", sans-serif;
  color: #2194CE;
  font-size: 15px;
  line-height: 15px;
  text-align: center; }

a {
  font-family: "Raleway", sans-serif;
  color: #2194CE;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.sidebar {
  width: 100%; }

.sidebarTitle {
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  line-height: 80px; }

.linkList {
  padding-left: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 45px; }
  .linkList .link {
    padding-left: 20px;
    font-family: "Inconsolata", monospace !important;
    font-size: 18px;
    line-height: 24px;
    display: block; }
