@import url(https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans|Raleway|Roboto|Space+Mono|Inconsolata);
::-webkit-scrollbar {
  width: 12px;
  background-color: #c8c8c8; }

::-webkit-scrollbar-track {
  background-color: #d2d2d2; }

::-webkit-scrollbar-thumb {
  background-color: #646464; }

::-webkit-scrollbar-thumb:hover {
  background-color: #2194CE;
  cursor: pointer; }

.CodeMirror {
  border: none;
  height: auto !important;
  font-family: "Inconsolata", monospace !important; }

.standard {
  font-family: "Inconsolata", monospace !important;
  font-size: 16px;
  color: #2194CE !important; }

.exampleText {
  font-family: "Inconsolata", monospace !important;
  font-size: 24px;
  padding-left: 36px;
  color: #2194CE !important; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden !important; }

.header {
  font-family: "Raleway", sans-serif;
  color: #2194CE;
  font-size: 15px;
  line-height: 15px;
  text-align: center; }

a {
  font-family: "Raleway", sans-serif;
  color: #2194CE;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.sidebar {
  width: 100%; }

.sidebarTitle {
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  line-height: 80px; }

.linkList {
  padding-left: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 45px; }
  .linkList .link {
    padding-left: 20px;
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    line-height: 24px;
    display: block; }
