//Google Fonts
// @import url(https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans|Raleway|Roboto|Space+Mono|Inconsolata); // Font Variables


$roboto_slab: 'Roboto', sans-serif;
$open_sans: 'Open Sans', sans-serif;
$space_mono: 'Space Mono', monospace;
$raleway: 'Raleway', sans-serif;
$droid_serif: 'Droid Serif', serif;
$inconsolata: 'Inconsolata', monospace;


::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(200, 200, 200);
}

::-webkit-scrollbar-track {
    background-color: rgb(210, 210, 210);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2194CE;
    cursor:pointer;
}

iframe{
  border:none !important;
}

.CodeMirror {
  border: none;
  height: auto !important;
  font-family:$inconsolata !important;

}

.standard{
  font-family:$inconsolata !important;
  font-size:16px;
  color: #2194CE !important;
}

.exampleText{
  font-family:$inconsolata !important;
  font-size:24px;
  padding-left:36px;
  color: #2194CE !important;
}

body {
    margin: 0;
    padding: 0;
    overflow:hidden !important;
}
.header{
  font-family: $raleway;
  color: #2194CE;
  font-size:15px;
  line-height:15px;
  text-align:center;
}
a {
    font-family: $raleway;
    color: #2194CE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.sidebar{
  width:100%;
}
.sidebarTitle {
    padding-left: 15px;
    padding-right: 15px;
    font-family: $raleway;
    font-size: 30px;
    line-height: 80px;
}

.linkList {
    padding-left: 15px;
    font-family: $raleway;
    font-size: 20px;
    line-height: 45px;

    .link {
        padding-left: 20px;
        font-family: $inconsolata;
        font-size: 18px;
        line-height: 24px;
        display: block;
    }
}
